<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--BEFORE SUITE-->
<suite name="crossBrowser">
<!--<suite name="crossBrowser" thread-count="2" parallel="tests">-->
<!--    BEFORE TEST-->
<!--    <test name="firefoxTest">-->
<!--        <parameter name="browserType" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="ge.tbc.testautomation.tests.SuccessfulPurchaseScenarioTest">-->
<!--&lt;!&ndash;                <methods>&ndash;&gt;-->
<!--&lt;!&ndash;                BEFORE METHOD&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name=""/> you can include a specific test method here&ndash;&gt;-->
<!--&lt;!&ndash;                AFTER METHOD&ndash;&gt;-->
<!--&lt;!&ndash;                </methods>&ndash;&gt;-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

    <!--    BEFORE TEST-->
    <test name="chromeTest">
        <parameter name="browserType" value="chrome"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.SuccessfulPurchaseScenarioExecutor"/>
        </classes>
    </test>
</suite>
<!--AFTER SUITE-->